## SPT-AKI
*.exe
*.zip
project/build/
project/obj/
project/user/

## visual studio
.vs
.idea
slnx.sqlite
slnx-journal.sqlite

## nodejs
node_modules
node.exe
package-lock.json

## windows
desktop.ini
